//============================================================
// Transforms
//============================================================

@mixin transform($arguments...) {
  -webkit-transform: $arguments;
    -ms-transform: $arguments; // IE9
        transform: $arguments;
}

@mixin transform-origin($arguments...) {
  -webkit-transform-origin: $arguments;
      -ms-transform-origin: $arguments; // IE9
          transform-origin: $arguments;
}

@mixin rotate($arguments...) {
  -webkit-transform: rotate($arguments);
      -ms-transform: rotate($arguments); // IE9
          transform: rotate($arguments);
}

@mixin backface-visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
    -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
      -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}


//============================================================
// Animations
//============================================================

@mixin transition($arguments...) {
  -webkit-transition: $arguments;
        transition: $arguments;
}

@mixin animation($arguments) {
  -webkit-animation: $arguments;
        animation: $arguments;
}

@mixin dropshadow($arguments...){
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin border-radius($radius: 5px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
      