form {
  .DateRangePickerInput__withBorder {
    background: none;
    width: 100%;
    border: none;

    .DateInput {
      background: none;
      width: 47%;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      input[type="text"] {
        margin: 0;
      }
    }
  }

  .DateRangePickerInput_arrow {
    position: relative;
    width: 10px;
    overflow: hidden;

    svg {
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      width: 100%;
      height: 2px;
      background: rgba($color: $base-primary-alternate-color, $alpha: 0.5);
    }
  }

  .CalendarDay__selected, 
  .CalendarDay__selected:active, 
  .CalendarDay__selected:hover,
  .CalendarDay__selected_span:active, 
  .CalendarDay__selected_span:hover {
    background: $base-primary-color;
    border: 1px double $base-primary-color-dark;
    color: $white;
  }

  .CalendarDay__hovered_span,
  .CalendarDay__hovered_span:hover,
  .CalendarDay__selected_span {
    background: rgba($color: $base-primary-alternate-color, $alpha: 0.5);
    border: 1px double rgba($color: $base-primary-alternate-color, $alpha: 0.5);
    color: $white;
  }

  .DayPickerKeyboardShortcuts_show__bottomRight {
    border-right-color: rgba($color: $base-primary-alternate-color, $alpha: 1);
  }

  .DateRangePickerInput_arrow_svg {
    fill: $base-primary-color;
  }

  .DateRangePicker {
    display: block;
    padding-bottom: 3rem;

  }
}