body {
  font-family: 'Roboto', sans-serif;
  // background: rgba(243, 240, 245, 0.6);

  &.is-opened {
    overflow: hidden;
  }
}

header {
  margin-bottom: 40px;
}

.no-margin {
  margin: 0;
}

.button {
  width: auto;
  height: 42px;
  border-radius: 5px;
  
  &.purple {
    @include bg-purple-gradient();
    box-shadow: 0 10px 10px 0 rgba(107, 48, 190, 0.25);
  }

  &.expanded {
    width: 100%;

    &.max-340 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 340px;
    }
  }
}

.breadcrumbs {
  h1 {
    font-size: 20px;

    .inactive {
      color: $black;
    }
  }
}

form {
  
  label {
    @include transition(color 0.3s linear);
    color: rgba($color: $base-primary-alternate-color, $alpha: 1);
    margin-bottom: 5px;
    font-size: 16px;

    &.active {
      color: rgba($color: $base-primary-color, $alpha: 1);
    }
  }

  .input-selector:hover {
    label {
      color: rgba($color: $base-primary-color, $alpha: 1);
    }
  }

  input {
    &[type='text'], 
    &[type='password'], 
    &[type='date'], 
    &[type='datetime'], 
    &[type='datetime-local'], 
    &[type='month'], 
    &[type='week'], 
    &[type='email'], 
    &[type='number'], 
    &[type='search'], 
    &[type='tel'], 
    &[type='time'], 
    &[type='url'],
    &[type='color'] {
      margin: 0 0 40px;
      @include input-props();
      @include site-font();
    }
  }

  select {
    margin: 0 0 40px;
  }

  textarea{
    @include input-props();
    @include site-font();
    @include border-radius(5px);
    border: 1px solid rgba($color: $base-primary-alternate-color, $alpha: 0.25);
    min-height: 200px;
  }

  select,
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    @include border-radius(5px);
    border: 1px solid rgba($color: $base-primary-alternate-color, $alpha: 0.25);
    color:  rgba($color: $base-primary-alternate-color, $alpha: 0.80);
    font-size: 14px;      

    &::-webkit-input-placeholder{
      color:  rgba($color: $base-primary-alternate-color, $alpha: 0.80);
    }
    &:-moz-placeholder{
      color: rgba($color: $base-primary-alternate-color, $alpha: 0.80);
    }
    &::-moz-placeholder{
      color: rgba($color: $base-primary-alternate-color, $alpha: 0.80);
    }
    &:-ms-input-placeholder {
      color: rgba($color: $base-primary-alternate-color, $alpha: 0.80);
    }
  }
}

.card {
  @include transition(background-color 0.3s linear);
  background-color: transparent;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.03);
  padding: 30px;
  margin-bottom: 38px;

  &.goals {
    min-height: 240px;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      cursor: pointer;
    }

    .add-fund {
      position: relative;
      z-index: 1;
    }
  }

  &.debit-card,
  &.bank-card {
    border-radius: 10px;
    background-position: 90% bottom;
    background-size: auto 140px;
    background-repeat: no-repeat;
    min-height: 250px;
    margin-bottom: 30px;
    font-size: 16px;
    color: $white;

    .info,
    .info-label {
      display: block;
    }

    .info-label {
      color: rgba($base-primary-alternate-color, $alpha: 1);
      font-size: 14px;
    }
  }

  &.bank-card {
    background-image: url('../img/bank-bg.png');
  }

  &.debit-card {
    background-image: url('../img/credit-bg.png');
  }

  h1, h2, h3, h4, h5, h6 {
    color: #6b577f;

    small {
      color: inherit;
    }
  }

  h4 {
    text-transform: uppercase;
  }

  .funds {
    font-size: 30px;
    color: #6b577f;

    &.small {
      font-size: 22px;
    }
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  h3 { font-size: 18px; }
  h4 { font-size: 12px; }

  .interest-returns {font-size: 14px;}

  &.white {
    background-color: #ffffff;
    p {
      color: $base-primary-text-color;
    }

    .interest-returns {
      color: $base-primary-color;
    }
  }

  &.alternate {
    background-color: #2f2942;

    h1, h2, h3, h4, h5, h6, .funds, p {
      color: #ffffff;
    }
    
  }

  &.purple {
    background-color: $base-primary-color;

    h1, h2, h3, h4, h5, h6, .funds {
      color: #ffffff;
    }
  }

  .divider {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background: #D8D8D8;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  .button {
    height: auto;
  }
}


.side-nav {
  @include bg-purple-gradient();
  display: flex;
  width: 96px;
  min-height: 800px;
  z-index: 15;
  // height: 100vh;

  a {
    &.home-icon {
      display: flex;
      height: 145px;
      align-items: center;

      &::before {
        content:  '';
        height: 30px;
        width: 30px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        @include menu-icons('home-icon.png');
      }
    }
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 96px;

    li {
      @include transition(background 0.3s linear);
      text-align: center;
      color: #ffffff;
      margin-bottom: 10px;
      padding: 15px 0 10px;
      a {
        display: block;
        &::before {
          content:  '';
          height: 30px;
          width: 30px;
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        &.saving-icon {
          &::before {
            @include menu-icons('savings-inactive-icon.png');
          }
        }
        &.team-icon {
          &::before {
            @include menu-icons('team-inactive-icon.png');
          }
        }
        &.badges-icon {
          &::before {
            @include menu-icons('badges-inactive-icon.png');
          }
        }
        &.my-banks-icon {
          &::before {
            @include menu-icons('bank-inactive-icon.png');
          }
        }
        &.my-cards-icon {
          &::before {
            @include menu-icons('cards-inactive-icon.png');
          }
        }

        &.invites-icon {
          &::before {
            @include menu-icons('invites-inactive-icon.png');
          }
        }

        @include transition(color 0.3s linear);
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        text-align: center;
        color: inherit;
        text-transform: uppercase;
      }

      &:hover {
        background: #ffffff;
        color: $base-primary-color;

        a {
          &.saving-icon {
            &::before {
              @include menu-icons('savings-active-icon.png');
            }
          }
          &.team-icon {
            &::before {
              @include menu-icons('team-active-icon.png');
            }
          }
          &.badges-icon {
            &::before {
              @include menu-icons('badges-active-icon.png');
            }
          }
          &.my-banks-icon {
            &::before {
              @include menu-icons('bank-active-icon.png');
            }
          }
          &.my-cards-icon {
            &::before {
              @include menu-icons('cards-active-icon.png');
            }
          }
          &.invites-icon {
            &::before {
              @include menu-icons('invites-active-icon.png');
            }
          }
        }
      }
    }
  }
}


h1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b577f;
}


h2 {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b577f;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.team-wrapper {
  padding: 0 56px;
}

.progress {
  height: 10px;
  border-radius: 4px;
  margin: 0;
  overflow: hidden;
}

.user-profile {
  display: flex;
  justify-content: flex-end;

  .user-info {
    display: flex;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8000fa;
    padding: 0 20px;
  }

  .alert-bell {
    display: flex;
    align-self: center;
    position: relative;

    &::before {
      content:  '';
      height: 30px;
      width: 30px;
      display: inline-block;
      @include menu-icons('bell-icon.png');
    }

    &::after {
      content:  '';
      position: absolute;
      top: 1px;
      right: 3px;
      width: 10px;
      height: 10px;
      background-color: #f43939;
      border: solid 1.5px #ffffff;
      border-radius: 100%;
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  @include bg-purple-gradient();
  border-radius: 100%;
  display: flex;
  align-self: center;

  img {
    border-radius: 100%;
  }

  p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
  }
}

.contributions {
  .contribution {
    padding: 20px 0;
    border-bottom: solid 0.5px rgba(107, 87, 127, 0.2);

    &:last-child {
      border: none;
    }

    .amount p {
      &.positive {
        color: #0ccb56;
      }

      &.negative {
        color: #f43939;
      }
    }

  }
}

.grid-container {
  &.fluid {
    padding: 0;
  }

  &.fluid {
    min-height: 100vh;

    .wrapper {
      min-height: 100vh;
    }
  }
}

.header {
  height: auto;
  background-color: #ffffff;
  // box-shadow: 0 5px 20px 0 rgba(215, 215, 215, 0.5);
  // border-bottom: solid 1px rgba(128, 0, 250, 0.11);

  .logo-wrapper {
    display: flex;
    justify-content: center;

    .logo {
      height: 50px;
      display: flex;
      align-self: center;
    }
  }
  

  .funds-update {
    @include site-font();
    font-size: 27px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #2f2942;
    margin-bottom: 0;

    .funds-stat{
      color: $base-primary-color;
      small {
        color: $base-primary-color;
      }
    }
  }
}

.sign-up-header,
.site-wrapper {
  background-color: rgba(223, 209, 237, 0.3);
  border-bottom: solid 1px rgba(128, 0, 250, 0.11);
  border-top: solid 1px rgba(128, 0, 250, 0.11);
}

.sign-up-header {
  box-shadow: 0 5px 20px 0 rgba(215, 215, 215, 0.5);
  padding: 20px 0;
  margin-bottom: 20px;

  img{
    height: 49px;
  } 
}

.site-menu,
.avatar-menu {
  padding: 10px 0;

  a {
    font-size: 14px;
    color: rgba($base-primary-alternate-color, $alpha: 1);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 10px 0;

    &::after {
      content: '';
      height: 1px;
      width: 0;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $base-primary-color;
      @include transition(width 0.3s linear);
    }

    &.active {
      font-weight: bold;
      &::after {
        //width: 100%;
      }
    }

    &:hover {
      font-weight: bold;
      &::after {
        //width: 100%;
      }
    }
  }
}

.stretch-page {
  min-height: 100vh;

  .start-page {
    min-height: 100vh;
    display: flex;
  }
}


form {
  &.search {
    display: flex;
    height: 100%;
    justify-content: center;

    [name="search"] {
      height: 32px;
      max-width: 400px;
      border-radius: 5px;
      border: solid 1px rgba(107, 87, 127, 0.3);
      display: flex;
      margin: 0;
      @include menu-icons('search-icon.png');
      background-position: 98% center;
      background-size: 20px; 
    }
  }
}

.title-link {
  color: $base-primary-color;
  font-size: 16px;
  font-weight: 500;
}

.title {
  margin-bottom: 40px;
}

.start-page {
  height: 100%;
  min-height: 800px;

  .start-icon {
    height: 240px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #6b577f;

    &.spacer {
      margin: 40px 0;
    }
  }

  .button {
    max-width: 340px;
    margin: 0 auto;

    &.expanded {
      max-width: 100%;
    }
  }
}

.start-page {

  .text

  form {
    .summary {
      color: rgba($color: $base-primary-alternate-color, $alpha: 1);
      font-size: 16px;
      font-weight: bold;
    }

    .card {
      padding: 52px;

      h1 {
        @include site-font();
        font-size: 28px;
        color: $base-primary-color;
      }

      p {
        font-size: 14px;
        color: $base-primary-text-color;
      }
    }

    a {
      font-size: 14px;
      color: $base-primary-color;
    }

    .news-letter input[type="text"] {
      border: none;
      box-shadow: none;
      margin-bottom: 50px;
      font-size: 14px;
      @include site-font();
      @include input-props();
      border-bottom: 1px solid $base-primary-color;
    }
  }
}

[name="profile"] {
  .avatar {
    width: 140px;
    height: 140px;
  }

  .profile-name {
    font-size: 14px;
    @include site-font();
    color: $base-primary-color;
    font-size: 22px;
  }

  .profile-data {
    padding: 5rem;
  }
}

.home-page {
  h3 {
    font-size: 32px;
    margin-bottom: 40px;
    color: $base-primary-alternate-color;
  }

  p {
    font-size: 20px;
    color: $base-primary-alternate-color;

    &.w70p {
      width: 70%;
    }
  }
}

.main-banner {
  background: $white url('../img/homepage-splash-overlay.png') center no-repeat;
  background-size: cover;
}

.home-splash {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;

  h3 {
    color: $base-primary-alternate-color;
  }

  p {
    color: $base-primary-alternate-color;
  }

  &.shadow-box {
    background: $white url('../img/homepage-testimony-1.png') 100px bottom no-repeat;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    z-index: 1;
    position: relative;
    top: -200px;
    height: 893px;
    padding: 8rem;
  }

  blockquote {
    font-size: 35px;
    color: $base-primary-alternate-color;
    border: none;
    text-align: left;
    line-height: 40px;
  }
}

.home-getting-started {
  padding: 8rem 0;
}

.home-splash-expanded {
  padding: 8rem;

  &.purple-bg {
    @include bg-purple-gradient();

    h3 {
      color: $white;
    }
  
    p {
      color: $white;
    }
  }

  .visa-splash {
    padding: 8rem 0 16rem;
  }
}

.news-letter {
  margin-top: 50px;
  display: flex;
  background: rgba(107, 87, 127, 0.6);
  padding: 0;
  
  input[type="text"] {
    margin: 0;
    background: transparent;
    border: none;
    height: 54px;
    color: $white;
    padding: 10px 20px;
    margin-bottom: 0;
  }

  button {
    background-color: $white;
    color: $base-primary-color;
    width: 65px;
    height: 54px;
    font-size: 30px;
  }
}

.menu {
  li {
    padding: 0 20px; 
    color: $base-primary-color;

    .button {
      color: $white;
      padding: 10px 20px; 
      height: auto;
      box-shadow: 0 10px 10px 0 rgba(107, 48, 190, 0.25);
    }

    a {
      color: inherit;
    }
  }
}


.footer {
  background: $base-primary-color-dark;
  color: $white;
  font-size: 14px;

  a {
    color:inherit;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  ul.footer-links {
    li {
      padding-bottom: 30px;
    }
    
  }

  ul.social-icons {
    margin: 0;
    display: block;
    text-align: right;
    
    li {
      display: inline-block;
      text-align: left;

      a {
        display: block;
        background-color: rgba($color: #000, $alpha: 0.5);
        @include transition(background-color 0.3s linear);
        @include border-radius(100%);
        padding: 20px;
        width: 40px;
        height: 40px;
        text-indent: -999px;
        margin: 0 10px;

        &:hover {
          background-color: rgba($color: #000, $alpha: 1.0);
        }

        &.facebook {
          @include footer-social-links(transparent, 'facebook-icon-white.png', 0 , 0);
        }

        &.twitter {
          @include footer-social-links(transparent, 'twitter-icon-white.png', 0 , 0);
        }

        &.linkedin {
          @include footer-social-links(transparent, 'linkedin-icon-white.png', 0 , 0);
        }

        &.instagram {
          @include footer-social-links(transparent, 'instagram-icon-white.png', 0 , 0);
        }

        &.youtube {
          @include footer-social-links(transparent, 'youtube-icon-white.png', 0 , 0);
        }
      }
    }
  }

  hr {
    margin: 50px 0;
    max-width: 100%;
  }

  .footer-content {
    padding: 8rem 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  .copyright,
  .disclaimer {
    font-size: 12px;
  }

  .disclaimer {
    padding-bottom: 50px;
  }
}

.top-bar {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

.card h1.purple-text,
.purple-text {
  color: $base-primary-color;
}

.overview-dashboard {
  .goal-summary {
    padding-right: 50px;
  }

  .contributions {
    padding-left: 50px;
  }

  .savings {
    color: #6b577f;

    .fund {
      font-size: 22px;
    }

    .date {
      font-size: 12px;
    }
  }

  .savings,
  .current-card {
    color: #6b577f;

    .text {
      font-size: 14px;
    }
  }

  .savings {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .debit-card-assigned {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .current-card {
    .masked-card {
      padding-top: 10px;
      font-size: 18px;
    }
  }

  .manage-goal {
    font-size: 12px;
    .icon {
      padding-right: 5px;
      display: inline;
    }
  }

  .funds.purple-text {
    font-size: 35px;
    margin: 0;
    color: $base-primary-color;
  }
}

.transition {
  .left-fade {
    @include transition(transform 0.3s linear, opacity 0.3s linear);
    transform: translateX(5%);
    opacity: 0;
  }

  .left-fade-out {
    @include transition(transform 0.3s linear, opacity 0.3s linear);
    transform: translateX(0%);
    opacity: 1;
  }

  .right-fade {
    @include transition(transform 0.3s linear, opacity 0.3s linear);
    transform: translateX(-5%);
    opacity: 0;
  }

  .up-fade {
    @include transition(transform 0.3s linear, opacity 0.3s linear);
    transform: translateY(5%);
    opacity: 0;
  }
  
  &.updated {
    .right-fade,
    .left-fade {
      transform: translateX(0%);
      opacity: 1;
    }

    .right-fade-out {
      transform: translateX(-5%);
      opacity: 0;
    }

    .left-fade-out {
      transform: translateX(5%);
      opacity: 0;
    }

    .up-fade {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.chart {
  height: 150px;
  border: 1px solid $base-primary-alternate-color;
  margin-top: 20px;
}

.stepper {

  .steps {
    padding: 20px;
    margin-bottom: 20px;
    
    h3 {
      font-size: 18px;
      font-weight: 500;
      color: #CAC2D2;
      padding-bottom: 5px;
      position: absolute;
      top: 0;
      left: -35%;
      right: -35%;
    }

    .steps-header {
      position: relative;
    }

    .cell.auto.location {
      max-width: 100px;
      position: relative;

      .circle {
        position: relative;
        @include transition(border-color 0.3s linear, background-color 0.3s linear);
        height: 28px;
        width: 28px;
        @include border-radius(100%);
        border: solid 3px rgba($base-primary-alternate-color, $alpha: 0.2);
        background-color: $white;
        margin: auto;  
        margin-top: 30px;
      }

      &.active {
        .circle {
          border-color: $base-primary-color;
          box-shadow: 0 5px 5px 0 rgba(107, 48, 190, 0.25);
        }
      }

      &.completed {
        color: $base-primary-color;
        cursor: pointer;

        h3 {
          color: rgba($base-primary-alternate-color, $alpha: 1);
        }

        .circle {
          background: $base-primary-color url('../img/check.png') center center no-repeat;
          border-color: $base-primary-color;
          background-size: 10px;
          box-shadow: 0 5px 5px 0 rgba(107, 48, 190, 0.25);
        }
      }
    }
  }

  .active {
    position: relative;
    z-index: 1;
  }
  

  .progress {
    height: 3px;
    position: absolute;
    top: 30px;
    left: 50px;
    bottom: 0;
    right: 50px;
    margin: auto 0;
    background-color: rgba($base-primary-alternate-color, $alpha: 0.2);

    .progress-meter {
      @include transition(width 0.3s linear);
      background-color: $base-primary-color;
    }
  }

  h3 {
    margin: 0;
  }
}

form[name="manage-goal"] {
  padding: 0 50px;

  .card {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

form[name="add-funds"],
form[name="add-bank"],
form[name="add-goal"],
form[name="manage-goal"] {
  select,
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgba($color: $base-primary-color, $alpha: 1);
    margin-bottom: 40px;
  }

  .button {
    margin-top: 40px;
  }
}

form[name="add-funds"]{
  select,
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    margin-bottom: 2rem;
  }
}

form[name="add-goal"] {
  select,
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    margin-bottom: 3rem;
  }
}

.sub-page-splash,
.sub-page-splash-alt {
  min-height: 450px;

  h2 {
    color: $white;
    text-align: center;
    font-size: 48px;
  }
}

.sub-page-splash {
  background: rgba($color: $base-primary-color, $alpha: 1);
}

.sub-page-splash-alt {
  background: $white;
  min-height: 600px;
  h2 {
    padding: 5rem;
    font-size: 32px;
    color: rgba($base-primary-alternate-color, $alpha: 1);
  }
}

.sub-page-splash-alt-2 {
  padding: 5rem 5rem 10rem;
  background: rgba($color: #F3F0F5, $alpha: 0.6);
  min-height: 600px;
  h2 {
    padding: 5rem;
    font-size: 32px;
    color: rgba($base-primary-alternate-color, $alpha: 1);
  }

  p {
    color: rgba($color: $base-primary-alternate-color, $alpha: 1);
  }
}

.bubble {
  background-color: rgba(#EAE7F6, $alpha: 1);
  background-image: none;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  @include border-radius(100%);
}

.team-members {
  .member {
    margin-bottom: 100px;
    .avatar {
      background-color: rgba(#EAE7F6, $alpha: 1);
      background-image: none;
      height: 300px;
      width: 300px;
      margin: 0 auto;
      @include border-radius(100%);
      margin-bottom: 50px;
    }

    h3,
    h4 {
      color: rgba($color: $base-primary-alternate-color, $alpha: 0.5);
      font-size: 20px;
      text-transform: uppercase; 
      margin-bottom: 0;
    }
  }
}

form[name="add-goal"] {
  .card .stepper-child {
    overflow: visible;
    padding-top: 2rem;
  }

  .savings-calculator {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    @include bg-purple-gradient();
    box-shadow: 0 10px 10px 0 rgba(107, 48, 190, 0.25);
    padding: 20px;
    z-index: 1;

    h2, p.spacer {
      margin: 0;
      color: $white;
    }
  }
}

.avatar-menu {
  list-style: none;
  margin: 0;

  a {
    color: rgba($base-primary-alternate-color, $alpha: 1);
    text-decoration: none;

    &::after {
      background: rgba($base-primary-alternate-color, $alpha: 1);
    }
  }
}


.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    background: $white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: 0;
  }

  .loaderStyle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1;
  }
}

form {
  padding-bottom: 50px;
  h2{
    font-weight: 100;
    font-size: 48px;
    color: rgba($base-primary-alternate-color, $alpha: 1);
  }

  p.summary{
    font-weight: 300;
    font-size: 26px;
    color: rgba($base-primary-alternate-color, $alpha: 1);
    padding: 5px 0 10px;
  }

  select,
  input[type="number"],
  input[type="date"],
  input[type="text"],
  input[type="password"] {
    height: 50px;
    font-size: 25px;
  }

  select {
    font-size: 16px;
  }

  .button {
    margin: 40px auto;
  }

  .small-text {
    font-size: 18px;
  }
}

form[name="login"] {
  padding: 0 40px;

  select,
  input[type="number"],
  input[type="date"],
  input[type="text"],
  input[type="password"] {
    height: 50px;
    font-size: 25px;
  }

  p.spacer {
    margin: 10px 0;
  }
}


.off-canvas-wrapper .canvas-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
}

.off-canvas .funds-update {
  padding: 20px;
  font-size: 20px;
  @include bg-purple-gradient();
  box-shadow: 0 10px 10px 0 rgba(107, 48, 190, 0.25);
  color: $white;
}

.mobile-menu {
  display: flex;
  align-self: center;

  .toggle-menu{
    display: block;
    font-size: 25px;
    color: rgba($color: $base-primary-alternate-color, $alpha: 1);
  }
}

.off-canvas .site-menu .auto{
  flex: 0 0 auto;
  width: 100%;
}

form .verify-numbers input{
  color: rgba($color: $base-primary-color, $alpha: 1);
  font-size: 30px;
  text-align: center;
}


.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
  margin: 0 5px;
}