.start-page form[name="invite"] {
  .card{
    padding: 5rem;
  }

  .card .earned-slots-left {
    margin: 3rem -5rem;
    min-height: 100px;
    padding: 20px;
    background: $base-primary-color;

    @media (max-width:767px) {
      .divider::before {
        display: none
      }
    }
    
    h2, p {
      color: $white;
      font-family: Roboto;
      small {
        color: inherit;
      }
    }

    h2 {
      font-size: 40px;
      font-family: Roboto;
    }

    p {
      font-size: 14px;
      font-family: Roboto;
    }
  }

  input[type="text"] {
    font-size: 14px;
    font-weight: bold;
  }

  .button {
    margin: 0;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .social-links {
    margin: 0;
    display: flex;
    li {
      display: inline-block;

      a {
        display: block;
        background-color: rgba($color: #000, $alpha: 0.5);
        @include transition(background-color 0.3s linear);
        @include border-radius(100%);
        padding: 20px;
        width: 40px;
        height: 40px;
        text-indent: -999px;
        margin: 0 10px;

        &:hover {
          background-color: rgba($color: #000, $alpha: 1.0);
        }

        &.facebook {
          @include footer-social-links(#0A67B6, 'facebook-icon.png');
        }

        &.twitter {
          @include footer-social-links(#06D7E6, 'twitter-icon.png');
        }

        &.whatsapp {
          @include footer-social-links(#1F9445, 'whatapp-icon.png');
        }

        &.email {
          @include footer-social-links(#000000, 'mail-icon.png');
        }
      }
    }
  }
}