@media (max-width:767px) {
  .text-small-align-left {
    text-align: left;
  }

  .home-splash {
    padding: 0 15px 40px; 

    &.shadow-box {
      &::before {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background: #ffffff;
        opacity: .8;
        z-index: 1;
      }

      top: 0;
      margin: 2rem;
      height: auto;
      padding: 2rem;
      background-size: contain;
    }

    blockquote {
      font-size: 20px;
      line-height: 24px;
    }
    .cell {
      position: relative;
      z-index: 2;
    }
  }

  .home-page {
    h3 {
      text-align: center;
      font-size: 20px;
      margin: 20px 0;
    }
  
    p {
      text-align: center;
      font-size: 14px;
      &.w70p {
        width: 100%;
      }
    }
  }

  .home-splash-expanded {
    padding: 2rem;

    .visa-splash {
      padding: 2rem 0 4rem;

      p {
        margin-bottom: 4rem;
      }
    }
  }

  .home-getting-started {
    padding: 1rem 0;
  }

  .overview-dashboard {
    .debit-card-assigned,
    .contributions,
    .goal-summary {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;

      &.divider {
        &::before {
          display: none;
        }
      }
    }

    .debit-card-assigned br{
      display: none;
    }
  }

  form[name="manage-goal"],
  .team-wrapper {
    padding: 0 10px;
  }

  form[name="manage-goal"] .card {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  header {
    margin-bottom: 15px;
  }

  .title {
    margin-bottom: 20px;
  }

  .card {
    padding: 15px;
  }

  [name="profile"] .profile-data {
    padding: 5rem 2rem;
  }

  .start-page {
    form[name="contact-us"],
    form[name="invite"] {
      .card {
        padding: 5rem 2rem;
      }
    }
  }

  .menu li {
    padding: 0 5px;
  }

  .app-stores {
    text-align: center;
    padding: 0 0 40px;

    a {
      display: block;
      padding: 0 0 10px;
    }
  }

  .news-letter {
    margin-bottom: 30px;
  }

  .footer .footer-content {
    padding: 3rem 2rem;
  }

  .footer hr {
    margin: 30px 0;
  }

  .sub-page-splash, .sub-page-splash-alt {
    min-height: 250px;
    padding: 0 20px;

    h2 {
      font-size: 30px;
    }
  }

  .sub-page-splash-alt {
    h2 {
      padding: 2rem;
      font-size: 32px;
    }
  }

  .sub-page-splash-alt-2 {
    h2 {
      padding: 2rem;
      font-size: 32px;
    }
    padding: 1rem 2rem 5rem;
    min-height: 560px;
  }

  .team-members .member {
    margin-bottom: 50px;
  }

  .stepper .steps h3 {
    top: -25px;
    left: 0;
    right: 0;
  }

  [name="add-goal"] {
    .stepper .steps h3 {
      top: 0;
    }
  }

  .popup-module .show-content .card {
    margin: 0;
    padding: 2rem;
  }

  form {
    input {
      &[type='text'], 
      &[type='password'], 
      &[type='date'], 
      &[type='datetime'], 
      &[type='datetime-local'], 
      &[type='month'], 
      &[type='week'], 
      &[type='email'], 
      &[type='number'], 
      &[type='search'], 
      &[type='tel'], 
      &[type='time'], 
      &[type='url'],
      &[type='color'] {
        margin-bottom: 2rem;
      }
    }
  }

  form[name="manage-goal"] input[type="date"],
  form[name="manage-goal"] input[type="text"],
  form[name="manage-goal"] select {
    margin-bottom: 2rem;
  }
}