.popup-module {
  bottom: 20px;
  display: none;
  left: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  height: 100vh;
  margin: auto;

  &[data-animate-type="scale"]{
    @include transition(transform 0.3s linear);
    @include transform(scale3d(.3,.3,.3));
  }

  &[data-animate-type="fade"]{
    @include transition(opacity 0.3s linear);
    opacity: 0;
  }

  &.show-bg{
    -webkit-transition-delay: 1s; /* Chrome, Safari, Opera */
    transition-delay: 1s;
    display: block;

    &:before{
      content: '';
      background: $black;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      opacity: 0.7;
      @include transition(opacity 0.3s linear);
      @include transform(translate3d(0,0,0));
    }

    &[data-animate-type="fade"]{
      opacity: 1;
    }
  }
  
  .close-content{
    content: '';
    background: $white;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    @include transition(opacity 0.3s linear);
    @include transform(translate3d(0,0,0));
  }

  .show-content{
    height: 100vh;
    position: relative;
    min-height: 10em;

    .card {
      margin: 0 38px;
      padding: 5rem;

      p {
        font-size: 16px;
      }
    }

    a.close{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      height: 40px;
      width: 40px;

      @media (max-width: 63.9375em) {
        display: block; 
        top: 5px;
        right: 5px;
        font-size: 20px;
      }

      &:after{
        content: '×';
        color: $black;
        display: block;
        font-size: 2em;
        padding: rem-calc(5);
        position: absolute;
        right: rem-calc(5);
        top: rem-calc(5);
        height: rem-calc(28);
        line-height: rem-calc(18);
        text-align: center;
        width: 100%;
      }
    }
  }
}