$base-primary-color: #8000fa;
$base-primary-text-color: rgba(107, 87, 127, 0.8);
$base-primary-alternate-color: #6b577f;
$base-primary-color-success:#0ccb56;
$base-primary-color-error: #f43939;
$base-primary-color-dark: #2F2942;
$white: #ffffff;
$black: #000000;

@mixin bg-purple-gradient {
  background-image: linear-gradient(to bottom, #a100fa, $base-primary-color);
}

@mixin site-font {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: $base-primary-text-color;
}

@mixin input-props() {
  color: $base-primary-text-color;
  border-bottom: 1px solid rgba(107, 87, 127, 0.6);
  // margin: 0 0 1.5rem;

  &:focus {
    border: 1px solid rgba($color: $base-primary-color, $alpha: 1);

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:placeholder-shown,
    &:-ms-input-placeholder {
      color: $base-primary-text-color;
      opacity: 1;
    }
  }
}

@mixin menu-icons($menuname) {
  background: transparent url('../img/'+$menuname) center no-repeat;
  background-size: contain;
}

@mixin footer-social-links($color, $iconname, $alpha: 0.8, $alphaHover: 1.0) {
  background-image: url('../img/'+$iconname);
  background-repeat: no-repeat;
  background-size: auto 15px;
  background-position: center;
  background-color: rgba($color, $alpha: $alpha);
  overflow: hidden;

  &:hover {
    background-color: rgba($color, $alpha: $alphaHover);
  }
}