@media screen and (min-width: 40em) and (max-width: 1280px) {
	.title {
    	margin-bottom: 15px;
	}
	header {
    	margin-bottom: 20px;
	}

	.card {
		margin-bottom: 15px;
		padding: 15px;
	}

	.header .align-middle {
		font-size: 30px;
	}

	.goals-slider.grid-padding-x > .cell {
		padding-right: 5px;
		padding-left: 5px;
	}

	form[name="add-funds"] select, form[name="add-funds"] input[type="number"], form[name="add-funds"] input[type="date"], form[name="add-funds"] input[type="text"], form[name="add-bank"] select, form[name="add-bank"] input[type="number"], form[name="add-bank"] input[type="date"], form[name="add-bank"] input[type="text"], form[name="add-goal"] select, form[name="add-goal"] input[type="number"], form[name="add-goal"] input[type="date"], form[name="add-goal"] input[type="text"], form[name="manage-goal"] select, form[name="manage-goal"] input[type="number"], form[name="manage-goal"] input[type="date"], form[name="manage-goal"] input[type="text"] {
    	margin-bottom: 1rem;
	}
	form .DateRangePickerInput__withBorder input[type="text"] {
		margin: 0;
	}

	form .DateRangePicker {
		padding-bottom: 1rem;
	}

	form[name="add-goal"] .savings-calculator {
		padding: 10px;
	}

	.sign-up-header {
		padding: 20px 0;
    	margin-bottom: 30px;
	}

	.stepper .steps {
		padding: 10px;
		margin-bottom: 25px;
	}

	form[name="signup"] p.summary {
		padding: 5px 0 10px;
	}

	form[name="signup"] select, 
	form[name="signup"] input[type="number"], 
	form[name="signup"] input[type="date"], 
	form[name="signup"] input[type="text"] {
		margin: 0 0 20px;
	}
}
