@import '~foundation-sites/dist/css/foundation';
@import '~react-dates/lib/css/_datepicker.css';
@import './site/common';
@import './site/site';
@import './site/desktop';
@import './site/invite-page';
@import './site/contact-page';
@import './site/modal';
@import './site/date-rangepicker';
@import './site/page-transistions';
@import './site/tablet';
@import './site/mobile';

$primary-color: $base-primary-color;
@import '~loaders.css/src/animations/line-scale.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}


$color: #2ecc71;
.example {
  background-color: $color;
}
